.card {
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01),
    0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09),
    0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  width: min(100%, 600px);
  margin: auto;
  margin-top: 50px;
}

#card-errors {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
.card-body {
  padding: 20px;
}
/* Blue outline on focus */
.StripeElement,
.form-control {
  height: 40px;
  border-radius: 9px !important;
  outline: none;
  background-color: #f2f2f2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.StripeElement--focus,
.form-control:focus {
  border: 1px solid transparent !important;
  box-shadow: 0px 0px 0px 0.5px #3131316e !important;
  background-color: transparent !important;
}
.paypal {
  height: 55px;
  background: #ffd700;
  border-radius: 11px;
  padding: 0;
  border: 0;
  outline: none;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 0.5s;
}
.paypal:hover {
  background: rgba(255, 217, 0, 0.51);
}
.paypal svg {
  height: 18px;
}
.separator {
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  color: #8b8e98;
  margin: 20px 10px 0 10px;
}

.separator > p {
  word-break: keep-all;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  margin: auto;
}

.separator .line {
  display: inline-block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
  margin: auto;
}

form label {
  font-size: 10px;
  color: #8b8e98;
  font-weight: 600;
  margin-bottom: 5px;
}
.pay_button {
  width: 100%;
  background: #2a254b;
  border-radius: 11px;
  padding: 0;
  border: 0;
  height: 50px;
  margin-top: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: 0.2s;
}
.input-group:last-of-type {
  margin-bottom: 20px !important;
}
.pay_button:hover {
  background: #211d3d;
}
.body {
  display: flex;
  margin: 0 2%;
}

.checkout {
  width: 100%;
  margin-top: 50px
}
.container-fluid {
  width: 70%;
  padding-left: 10%;
}

.checkout_product_product {
  display: flex;
  width: 60%
}
.checkout_product_quantity {
  display: flex;
  width: 17.5%;
  /* align-items: center; */

}
.checkout_product_total {
  width: 17.5%
}
.delete {
  width: 5%
}
.col_title1 {
  width: 60%;
}
.col_title2 {
  width: 17.5%;;
}
.col_title3 {
  width: 15%;
}
.col_title4 {
  width: 5%;
}
.checkout_product_block {
  display: flex;
  gap: 100px;
  margin-top: 30px
}
.checkout_cols_titles {
  display: flex;
  gap: 100px;
  margin-top: 20px
}
.product_image {
  width: min(100%, 84px);
  height: 104px;
  aspect-ratio: 1/1;
  
  object-fit: cover;
}
.product_text_description * {
  margin-bottom: 5px
}
.product_text_description {
  margin-left: 10px
}
.checkout_product_quantity button {
  background-color: transparent;
  color: black;
  border: 0;
  width: 7px;
  padding: 0;
  height: 7px
}
.checkout_product_quantity button:focus {
  outline: 0
}
.product_quantity {
  margin: 0 10px;
}
.line {
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background: #EBE8F4;
}
.delete {
  padding: 0;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1240px) {
  .container-fluid {
    padding-left: 2%;
  }
}

@media screen and (max-width: 1100px) { 
  .body {
    flex-direction: column;
  }
  .container-fluid {
    padding: 0;
  }
}

@media screen and (max-width: 640px) {
  .container-fluid {
    margin: 0;
    width: 100%
  }
}
@media screen and (max-width: 600px) {
  .checkout_cols_titles, .line {
    display: none;
  }
  .checkout_product_block {
    flex-direction: column;
    gap: 20px;
  }
  .checkout_product_block:not(:last-child) {
    border-bottom: 1px solid #0000004f

  }
  .checkout_product_product {
    flex-direction: column;
    margin: auto;
    text-align: center;
  }
  .product_image {
    width: min(100%, 200px);
    height: 240px;
    margin: auto;
  }
  .checkout_product_quantity, .checkout_product_total {
    margin: auto;
    text-align: center;
    width: auto
  }
  .delete {
    margin: auto;
    text-align: center;
  }
}
.search {
  display: inline-block;
  position: relative;
  transition: 0.5s;
  width: 100%;
  margin: 0 0 20px 0
}

.search input[type="text"] {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  transition: 0.2s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

}
.search input:hover, .search input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.search button[type="submit"] {
  background-color: #4e99e9;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: .4s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.05);
  color: rgb(255, 255, 255);
  background-color: blue;
}
#coupon-form label {
  margin-left: 10px;
  font-size: 12px
}
.search input::placeholder {
  font-family: 'Satoshi', sans-serif;
    color: #2A254B;
}
